<!DOCTYPE html>
<html lang="ru">
    <meta charset="UTF-8">
    <head>
     <title>Удаление региона</title>
    </head>
    <body>
        <h1>Удаление региона</h1>
        <form method="POST" action="/v1/region/delete">

            <label for="region_code">Номер региона:</label>
            <input type="text" name="region_code" id="region_code"><br><br>

            <button type="submit">Удалить</button>
        </form>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
    </body>
</html>